
user = {{ dabase_rw_user }}
password = {{ dabase_rw_password }}
hosts = {{ database_host }}
dbname = {{ database_name }}
table = {{ database_alias_table }}
select_field = {{ alias_select_field }}
where_field = {{ alias_where_field }}