
user = {{ postfix_database_rw_user }}
password = {{ postfix_database_rw_password }}
hosts = {{ database_host }}
dbname = {{ postfix_database_name }}
table = {{ database_mailbox_table }}
select_field = {{ mailbox_select_field }}
where_field = {{ mailbox_where_field }}
#additional_conditions = and active = '1'