
user = {{ dabase_rw_user }}
password = {{ dabase_rw_password }}
hosts = {{ database_host }}
dbname = {{ database_name }}
table = {{ database_mailbox_table }}
select_field = {{ mailbox_select_field }}
where_field = {{ mailbox_where_field }}
#additional_conditions = and active = '1'