
user = {{ postfix_database_rw_user }}
password = {{ postfix_database_rw_password }}
hosts = {{ database_host }}
dbname = {{postfix_database_name }}
table = {{ database_quota_table }}
select_field = {{ quota_select_field }}
where_field = {{ quota_where_field }}
#additional_conditions = and active = '1'