
user = {{ postfix_database_rw_user }}
password = {{ postfix_database_rw_password }}
hosts = {{ database_host }}
dbname = {{ postfix_database_name }}
table =  {{ database_domain_table }}
select_field = {{ domain_select_field }}
where_field = {{ domain_where_field }}
#additional_conditions = and backupmx = '0' and active = '1'