dn: o={{hosting_ou}},dc={{ root_domain }},dc={{ top_level_domain }}
objectClass: organization
objectClass: top
o: hosting description: Hosting Organization
# Read only account

dn: cn={{ vmail_account }},o={{hosting_ou}},dc={{ root_domain }},dc={{ top_level_domain }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: {{ vmail_account }}
userPassword: {{ vmail_account_hash_password.stdout_lines[2] }}
description: Read only account
